<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Guna.UI2.WinForms" version="2.0.1.9" targetFramework="net461" />
  <package id="log4net" version="1.2.10" targetFramework="net461" />
  <package id="Neodynamic.WebControls.ImageDraw" version="5.0.2000.8" targetFramework="net461" />
</packages>